{% extends "base.html" %}
{%block lab%}Лабораторная работа 9{%endblock%}


{%block main%}
    <div style="border: 1px solid black; margin-left: 35%; width: 500px; border-radius: 15px; height: 230px; background-color:bisque">
        <form action="/lab9/q2(v2)", method="post">
            <label>
                <span style="font-size: 35px; margin-left: 15%">Какой у тебя возраст?</span><br>
                <input type="number" name="text" style="width: 220px; height: 25px; border-radius: 15px; margin-left: 15%; margin-top: 25px" required>
            </label>
            <button type="submit" style="width: 110px; height: 25px; border-radius: 15px">Отправить</button>
        </form>
    </div>
{%endblock%}