{%extends "base.html"%}

{%block lab%} Лабораторная работа 2 {%endblock%}

{%block main%}
    <div>
        {% for flower in flowers %}
        <li>{{ loop.index }} - {{ flower.name }}: {{ flower.price }} &#8381;, <a href="/lab2/flowers_delete/{{loop.index}}">Удалить</a></li>
        {% endfor %}
        <a href="/lab2/flowers_delete">Удалить все цветы</a>
        <div>
            <form action="/lab2/ad_flowerrr/" method="post">
                Введите название цветка:
                <input type="text" name="name" required><br>
                Введите цену цветка:
                <input type="number" name="price" required><br>
                <button type="submit">Добавить цветок</button>
            </form>
            <a href="/lab2/">Все задания</a>
    </div>
    
{%endblock%}