{% extends "base.html" %}
{%block lab%}Лабораторная работа 3{%endblock%}


{%block main%}
    {%if user%}
    <div>Добро пожаловать {{user}}!</div>
    <div>Ваш пол: {{sex}}</div>
    <div>Ваш возраст: {{'мужской' if sex == 'male' else 'женский'}}</div>
    <div>
        <a href="/lab3/form1">Заново</a>
    </div>
    {% else %}
    <label>Ваше имя:</label>
    <form>
        <div>
            <input type="text" placeholder="Как вас зовут?" name="user">
        </div>

        <label>Ваш возраст:</label>
        <div>
            <input type="number" name="age" placeholder="Ваш возраст">
        </div>
        <label>Ваш возраст:</label>
        <div>
            <select name="sex">
                <option value="male">Мужчина</option>
                <option value="female">Женщина</option>
            </select>
        </div>
        <div>
            <button type="submit">Отправить</button>        
        </div>
    </form>
    {% endif %}
{%endblock%}