{% extends "base.html" %}
{%block lab%}Лабораторная работа 3{%endblock%}


{%block main%}
    <h1>Формы<h1>
    <div>Привет, <span style= "color: {{name_color}}">{{name or 'Кто-то:)'}}</span>!</div>
    <div>Тебе уже {{age or 'Сколько-то'}} лет</div>
    <div>Тема лобараторной - Формы. Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab3/cookie">Куки</a></li>
        <li><a href="/lab3/delete_cookie">Удалить куки</a></li>
        <li><a href="/lab3/form1">Форма</a></li>
        <li><a href="/lab3/order1">Выбор</a></li>
        <li><a href="/lab3/settings">Настройки</a></li>
        <li><a href="/lab3/ticket">Билет</a></li>
        <li><a href="/lab3/delete_new">Удалить куки (2)</a></li>
    </ol>
{%endblock%}