{% extends "base.html" %}
{%block lab%}Лабораторная работа 5{%endblock%}


{%block main%}
    <h1>Создание статьи</h1>
    <form action="/lab5/create" method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" maxlength="50" name="title" required>
            </label>
        </div>
        <div>
            <textarea name="article_text" required></textarea>
        </div>
        <div>
            Любимая статья
            <input type="radio" name="is_favorite" value="1">Да
            <input type="radio" name="is_favorite" checked value="0">Нет
        </div>
        <div>
            Публичная статья
            <input type="radio" name="is_public" value="1">Да
            <input type="radio" name="is_public" checked value="0">Нет
        </div>
        <button type="submit">Создать</button>
    </form>
{%endblock%}