{% extends "base.html" %}
{%block lab%}Лабораторная работа 5{%endblock%}


{%block main%}
    <div style="font-size: 35px; text-align:center;">База знаний</div>
        <div style="display: flex; align-items: stretch; 
        border: 1px solid black; border-radius: 15px; width: 800px; height: 50px; justify-content: center;align-items: center; margin-left: 29%;
        background-color:bisque">
            <a style="font-size: 25px;" href="/lab5/list">Список статей</a>
            <a style="font-size: 25px; margin-left: 25px" href="/lab5/create">Создать статью</a>
            <a style="font-size: 25px; margin-left: 25px" href="/lab5/login">Войти</a>
            <a style="font-size: 25px; margin-left: 25px" href="/lab5/register">Регестрация</a>
            {%if login%}
            <span style="font-size: 25px; margin-left: 25px">{{login}}</span>
            {%else%}
            <span style="font-size: 25px; margin-left: 25px">Anonymous</span>
            {%endif%}
        </div>
{%endblock%}