{% extends "base.html" %}
{%block lab%}Лабораторная работа 5{%endblock%}


{%block main%}
<h1>Редактирование статьи {{article_title}}</h1>
<form action="/lab5/redact2" method="post">
    <div>
        <label>
            Название статьи:
            <input type="text" maxlength="50" name="article_title" value="{{article_title}}" required>
        </label>
    </div>
    <div>
        <textarea name="article_text" required>{{article_text}}</textarea>
    </div>
    <input type="hidden" name="article_id" value="{{article_id}}">
    <button type="submit">Редактировать</button>
</form>
{%endblock%}