{% extends "base.html" %}
{%block lab%}Лабораторная работа 5{%endblock%}


{%block main%}
<h1>Редактирование статьи <span style="color: red;">{{article_title}}</span></h1>
<form action="/lab5/redact2" method="post">
    <div>
        <label>
            <span style="color: rgb(49, 30, 83); font-size: 25px">Название статьи:</span>
            <input type="text" maxlength="50" name="article_title" value="{{article_title}}" required>
        </label>
    </div>
    <div>
        <textarea name="article_text" required>{{article_text}}</textarea>
    </div>
    <input type="hidden" name="article_id" value="{{article_id}}">
    <div>
        {%if is_favorite==false%}
        <span style="color: rgb(49, 30, 83); font-size: 25px">Любимая статья:</span>
        <input type="radio" name="is_favorite" value="1">Да
        <input type="radio" name="is_favorite" checked value="0">Нет<br>
        {%else%}
        <span style="color: rgb(49, 30, 83); font-size: 25px">Любимая статья:</span>
        <input type="radio" name="is_favorite" checked value="1">Да
        <input type="radio" name="is_favorite" value="0">Нет<br>
        {%endif%}
        {%if is_public==false%}
        <span style="color: rgb(49, 30, 83); font-size: 25px">Публичная статья</span>
        <input type="radio" name="is_public" value="1">Да
        <input type="radio" name="is_public" checked value="0">Нет
        {%else%}
        <span style="color: rgb(49, 30, 83); font-size: 25px">Публичная статья</span>
        <input type="radio" name="is_public" checked value="1">Да
        <input type="radio" name="is_public" value="0">Нет
        {%endif%}
    </div>
    <button type="submit">Редактировать</button>
</form>
{%endblock%}