{% extends "base.html" %}
{%block lab%}Лабораторная работа 2{%endblock%}


{%block main%}
    <h1>Шаблоны</h1>
    <div>Тема лобараторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab2/example">example</a>
        </li>
        <li>
            <a href="/lab2/filtres">Фильтры</a>
        </li>
        <li>
            <a href="/lab2/flower/countandnames">Количество и название цветов</a>
        </li>
        <li>
            <a href="/lab2/yagodi">Ягоды</a>
        </li>
        <li>
            <a href="/lab2/books">Книги</a>
        </li>
        <li>
            <a href="/lab2/flowers_delete">Очистка списка цветов</a>
        </li>
    </ol>
{%endblock%}