{% extends "base.html" %}
{%block lab%}Лабораторная работа 7{%endblock%}

{%block script%}
<script src="{{url_for('static', filename='lab7/main.js')}}"></script>
<style>
.modal{
    display: none;
    z-index: 100;
    box-shadow: 3px 3px black;
    background: white;
    width: 600px;
    left: 50%;
    top: 220px;
    margin-left: -200px;
    position: absolute;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    background-color: antiquewhite;

}
.error-message{
    color: red;
}
body {
    font-family: "Roboto", sans-serif;
  }
table {
    width: 650px;
    border-top: 7px solid rgb(43, 129, 17);
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    font-family: "Roboto", sans-serif;
    background-color: antiquewhite;
  }
  
td {
    text-align: left;
      padding: 10px;
      border: 3px solid rgb(43, 129, 17);
  }
th {
    text-align: center;
    padding: 10px;
      border: 3px solid rgb(43, 129, 17);
   }

button{
    border-radius: 5px;
    margin-top: 3px;
}

.block{
    margin-top: 15px;
}
</style>
{%endblock%}
{%block main%}
    <h1>Списки фильмов</h1>
    <table>
        <thead>
            <tr>
                
                <th colspan="2">Название</th>
                <th>Год</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody id="film-list"></tbody>
    </table>
    <script>
        fillFilmList();
    </script>
    
    <div>
        <button onclick="addFilm()">Добавить фильм</button>
    </div>

    <div class="modal">
        <input type="hidden" id="id">
        <label>
            <div class="block">
                <span>Название фильма на русском:</span>
                <input type="text" id="title-ru">
                <div id="title-ru-error" class="error-message"></div>
            </div>
        </label><br>

        <label>
            <div class="block">
                Название фильма на оригинальном языке
                <i>(если фильм русский, то оставьте пустым):</i>
                <input type="text" id="title">
            </div>
        </label><br>
        <label>
            <div class="block">
                Год выпуска:
                <input type="number" id="year">
                <div id="year-error" class="error-message"></div>
            </div>
        </label><br>
        <label>
            <div class="block">
                Описание:
                <textarea id="description"></textarea>
                <div id="description-error" class="error-message"></div>
            </div>
        </label><br>
        <button onclick="sendFilm()">ОК</button>
        <button onclick="cancel()">Отмена</button>
    </div>
{%endblock%}