{% extends "base.html" %}
{%block lab%}Лабораторная работа 8{%endblock%}


{%block main%}
    <h1>Регистрация</h1>

    <form action="/lab8/register" method="post">
        <div>
            <label>
                Логин: <input type="text" name="login" required>
            </label>
        </div>
        <div>
            <label>
                Пароль: <input type="password" name="password" required>
            </label>
        </div>
        {%if error%}
        {{error}}
        {%else%}
        {%endif%}
        <button type="submit">Зарегестрироваться</button>
    </form>

{%endblock%}